@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: green;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 30%;
  height: 70%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
#card-symbol-header {
  text-align: left;
  font-size: 35px;
}
#card-value {
  text-align: center;
  font: size 35px;
}
#card-symbol-footer {
  text-align: right;
  font-size: 35px;
}
.red {
  color: red;
}
.black {
  color: black;
}
